# Node
node_modules/
npm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages

# Android
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/key.properties

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db